<!DOCTYPE html>
<html>
<head>
<!-- ここに title はもう書かない（またはタブ用として1つだけ書く） -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>

<form action="submit_data" method="post">
<!-- 画面に表示されるタイトル 
 <div name = "title_area_data"><h4>{{title_area_data}}</h4></div>  
-->
<h1 class="main-title">{{title_area_data}}</h1>
      
<div  text-align: right;>
<select name="select_area" id="select_area" size="9">
  {% for item in ol %}
    {# itemの内容が、viewsから渡したcurrent_selectと一致すればselectedを付与 #}
    <option value="{{ item }}" {% if item == current_select %}selected{% endif %}>
      {{ item }}
  {% endfor %}
</select>
<textarea id="input_area" name="input_area" rows="10" style="overflow-y:scroll">
{{input_area_data}}
</textarea>
<textarea id="output_area" name="output_area" rows="10" style="overflow-y:scroll">
{{output_area_data}}
</textarea>
<!--<button onclick = "call_python">execute</button>
-->
<p></p>
<!--
<input type="hidden" name="button" id="button" value="">
        <button type="submit" id="go-button">Go</button>
-->
<!-- 行全体を囲むコンテナを追加 -->
<div class="button-row">
    <input type="hidden" name="button" id="button" value="">
    <button type="submit" id="go-button">Go</button>
    
      <span class="announce" id ='announce'>{{announce_area_data}}</span>
</div>


<div id ="footer">{{footer_area_data}}
</div>
</form>
</div>
<div>
    
        


    <script>
        const dataToSend = "JavaScriptから送りたいデータ"; // JavaScriptで生成したデータ
        document.getElementById("hidden_data").value = dataToSend;
    </script>

</div>
<!--
 <button id="fetchDataButton">ここをクリック</button>
    <p id="dataDisplay">ここに取得結果が表示されます</p>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

 <button id="sendDataButton">データを送信</button>
    <div id="result"></div>
    <script src="js/script.js"></script>
-->



</body>
</html>